{% extends 'layout.html' %}

{% block headers %}
<title>Damage Cost</title>
{% endblock headers %}

{% block body %}
<div>
    <h1 class="display-4" style="margin-top: 10px;">Damage Cost</h1>
    <p class="lead">
      Costs of Damage Resulting from Earthquakes
    </p>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~dlromanoff/143.embed"></iframe>
    <p>Move your mouse over the dots to see the total cost incurred.</p> 
    <p>This chart shows the total cost incurred for damage resulting from earthquake events. During an earthquake with a magnitude of 4.0, the sensation felt is that of a large truck passing by or possibly an explosion not too far away. This minimum movement would lead us to believe the cost of damage to be nominal. However, even an earthquake with a magnitude of 4.0 incurs a cost from damage of three million dollars. </p>
</div>
{% endblock body %}