{% extends 'layout.html' %}

{% block headers %}
<title>Quakespect - U.S. Events</title>
{% endblock headers %}

{% block body %}
<div class="col-md-8 px-0">
    <h1 class="display-4" style="margin-top: 10px;">U.S. Events</h1>
    <p class="lead">
        All earthquake events that have occured in the United States.
    </p>
</div>

<h4>Heatmap</h4>
<p>This heatmap shows the regions in US affected by any type of seismic activity from 1800 to 2019. Map can be zoomed in and out.</p>
<div class="card">
    <iframe src="{{ url_for('html_plot', html_name='cluster_map.html') }}" frameborder="0" style="width: 100%; height: 70vh; margin-bottom: 10px;"></iframe>
</div>
<h4>Cluster Map</h4>
<p>The map shows the clusters of seismic activities in US showing exact number of earthquakes in each region. Map can be zoomed in and out.</p>
<div class="card">
    <iframe src="{{ url_for('html_plot', html_name='heatmap.html') }}" frameborder="0" style="width: 100%; height: 70vh;"></iframe>
</div>
{% endblock body %}
